*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.base{
    width: 375px;
    height: 812px;
    border: 3px solid;
    border-radius: 10px;
    background-image: url(../../Img/branches-8612695_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.logo{
    width: 227px;
    height: 227px;
    background-image:url(../../Img/MiLogo__3_-removebg-preview.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transform: translate(75px, 50px);
    filter: drop-shadow(0px 0px 150px  rgb(255, 255, 255));
}

.contenedor{
    width: 289px;
    height: 411px;
    background-color: #23292693;
    border: #4da856 solid 6px;
    border-radius: 71px;
    position: relative;
    transform: translate(45px, 50px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.caja1{
    width: 191px;
    height: 71px;
    background-color: #acff2f41;
    border: 1px solid white;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 21px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.txt{
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CF1A26;
    filter: drop-shadow(0px 0px 5px  #FF0000);
    transform: translateY(-30px);
}

.txt1{
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CF1A26;
    filter: drop-shadow(0px 0px 5px  #FF0000);
    transform: translateY(-20px);
}

.txt2{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ADFF2F;
    filter: drop-shadow(0px 0px 5px  yellow);
}

.back{
    width: 127px;
    height: 48px;
    background-color: #775D00;
    border-radius: 30px;
    border: 2px solid black;
    transform: translateY(170px);
}

.txt3{
    color: #FFFF;
    text-align: center;
    margin-top: 13px;
    font-size: 18px;
}

a{
    text-decoration: none;
}



